# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log files
*.log
logs/

# IDE specific files
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
bin/
out/

# System specific files
.DS_Store
Thumbs.db

# Local Career & Deployment Resources
ems_resources_and_prep.md
